.App-header {
    padding: 20px 0;
}

.App-logo-homePage {
    width: 200px;
    max-width: 100%;
    width: 95%;
    height: auto;
    display: block;
    margin: -60 auto;

}

@media (max-width: 600px) {
    .App-header>.MuiGrid-container>.MuiGrid-item {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.App-intro h6 {
    font-size: large;
    line-height: 1.4;
    margin-bottom: 20px;
    margin-left: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App-header h2 {
    font-family: fantasy;
    line-height: 1.4;
    margin-bottom: 20px;
}


button {
    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 3px 5px 2px rgba(33, 203, 243, .3);
}

input[type="text"] {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
}